$font-primary: DM sans;
$font-header: Titan One;

$text-primary: #000;
$text-secondary: #907e82;

$color-highlight: #d41443;
$color-accent: #ffa5ba;
$color-light: #fff;

$color-background-main-first: #fff5f6;
$color-background-main-second: #e5e5e5;
$color-background-header: #ffb8ca;
$color-header-accent: #ffa5ba;
$color-background-modal: #e17992;

$color-products-section-bg:#E5E5E5;
$color-ice-cream-card-bg:#FFB8CA;
$color-ice-coffee-card-bg:#F0D1A5;
$color-milkshakes-card-bg:#C2E297;
