.customer_reviews {
  max-width: 1200px;
  min-height: 200px;
  background-color: #fff;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  margin-top: 154px;
  position: relative;
  &__slides {
    max-width: 926px;
    text-align: center;
    &--paragraf {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      // line-height: 255%;
      line-height: 31px;
      color: #000000;

      background-color: #fafafa;
      min-height: 138px;
      padding: 47px 60px 40px;
      margin: 0 6% 0;
      border-radius: 5%;
      &::before {
        font-family: $font-header;
        content: ',,';
        font-size: 80px;
        color: #e1e1e1;
        position: absolute;
        left: 4%;
        bottom: -110px;
      }
    }
    &--lineCard {
      background-image: repeating-linear-gradient(
        #E1E1E1 1px,
        transparent 3px,
        transparent 35px
      );
    }
    &--dots {
      color: #c7133e;
      font-size: 40px;
      margin: 0;
      letter-spacing: 10px;
    }
    &--title {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 186%;
      color: #000000;
    }
  }
  @media screen and (max-width: 767px) {
    &__mosaic {
      position: absolute;
      top: -35%;
      width: 100%;
      display: flex;
      justify-content: center;
      &--image {
        width: 300px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &__mosaic {
      position: absolute;
      top: -40%;
      width: 100%;
      display: flex;
      justify-content: center;
      &--image {
        max-width: 760px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__mosaic {
      position: absolute;
      top: -40%;
      width: 100%;
      display: flex;
      justify-content: center;
      &--image {
        max-width: 1200px;
      }
    }
  }
}
