.customer_reviews {
  max-width: 1200px;
  min-height: 200px;
  background-color: #fff;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__images {
    height: 400px;
    width: auto;
  }
  &__slides {
    max-width: 926px;
    text-align: center;
    &--paragraf {
      display: flex;
      align-items: center;
      background-color: #fafafa;
      min-height: 138px;
      padding: 47px 87px 40px;
    }
  }
}
