<section class="advantages" id="how-its-made">
    <div class="container advantages__box">
        <h2 hidden>advantages</h2>
        <div class="advantages-item">
            <div>
                <p class="advantages-item__number">
                    721
                </p>
                <p class="advantages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="advantages-item">
            <div>
                <p class="advantages-item__number">
                    16KG
                </p>
                <p class="advantages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="advantages-item">
            <div>
                <p class="advantages-item__number">
                    84
                </p>
                <p class="advantages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
    </div>
</section>