<section class="adventages">
    <div class="container adventages__box">
        <div class="adventages-item">
            <div>
                <img class="adventages-item__img" src="./images/adventages/cocktail.png" alt="cocktail icon">
                <p class="adventages-item__number">
                    721
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="adventages-item">
            <div>
                <img class="adventages-item__img" src="./images/adventages/apples.png" alt="cocktail icon">
                <p class="adventages-item__number">
                    16KG
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="adventages-item">
            <div>
                <img class="adventages-item__img" src="./images/adventages/lollypop.png" alt="cocktail icon">
                <p class="adventages-item__number">
                    84
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
    </div>
</section>