<section class="adventages">
    <div class="container adventages__box">
        <h2 hidden>adventages</h2>
        <div class="adventages-item">
            <div>
                <p class="adventages-item__number">
                    721
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="adventages-item">
            <div>
                <p class="adventages-item__number">
                    16KG
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
        <div class="adventages-item">
            <div>
                <p class="adventages-item__number">
                    84
                </p>
                <p class="adventages-item__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </div>
    </div>
</section>