<section class="contacts" id="contact">
    <h2 hidden>Contacts</h2>
    <div class="contacts__grid">
        <div class="contacts__tab">
            <p class="contacts__name contacts__name--cafe">Cafe</p>
            <p class="contacts__city">Chicago</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</p>
            <a class="contacts__link" href="tel:+61(0)383766284">
                <span>+61(0) 383 766 284</span>
            </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">
                <span>noreply@envato.com</span></a>
        </div>

        <div class="contacts__tab">
            <p class="contacts__name contacts__name--foodtruck">Food Truck</p>
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</p>
            <a class="contacts__link" href="tel:+61(0)383766284">
                <span>+61(0) 383 766 284</span>
            </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">
                <span>noreply@envato.com</span></a>
        </div>

        <div class="contacts__tab">
            <p class="contacts__name contacts__name--cafe">Cafe</p>
            <p class="contacts__city">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--bottom">08:00 AM - 16:00 PM</p>
            <a class="contacts__link" href="tel:+61(0)383766284">
                <span>+61(0) 383 766 284</span>
            </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">
                <span>noreply@envato.com</span></a>
        </div>
    </div>

    <div>
        <ul class="contacts__buttonList">
            <li class="contacts__buttonItem">
                <button type="button" class="contacts__button contacts__button--localization">
                    Our Locations
                        <svg class="contacts__button-icon contacts__button-icon--localization" width="4.5" height="8">
                            <use href="./images/sprite.svg#icon-btn-arrow--localization"></use>
                        </svg>
                </button>
            </li>
            <li class="contacts__buttonItem">
                <button type="button" class="contacts__button contacts__button--franchise">
                    Franchise
                        <svg class="contacts__button-icon contacts__button-icon--franchise" width="4.5" height="8">
                            <use href="./images/sprite.svg#icon-btn-arrow"></use>
                        </svg>
                </button>
            </li>

        </ul>
    </div>
</section>