<section class="customer_reviews">
  <div class="siema customer_reviews__slides">
    <div>
      <img src="images/customer_reviews/testimonials1.jpg" alt="zdjecie z afro" />
      <p class="customer_reviews__slides--paragraf">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <p>...</p>
      <p>Emily, Los Angeles</p>
    </div>
    <div>
      <img src="images/customer_reviews/testimonials2.jpg" alt="zdjecie z afro" />
      <p class="customer_reviews__slides--paragraf">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <p>...</p>
      <p>Beaty, Chicago</p>
    </div>
    <div>
      <img src="images/customer_reviews/testimonials3.jpg" alt="zdjecie z afro" />
      <p class="customer_reviews__slides--paragraf">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <p>...</p>
      <p>Ericka, New York</p>
    </div>
  </div>

  <div class="buttons_reviews">
    <div class="btn0 btn--selected">
      <svg class="buttons_reviews__svg0" width="44px" height="44px">
        <use xlink:href="images/sprite.svg#icon-home-customers_reviews"></use>
      </svg>
    </div>
    <div class="btn1">
      <svg class="buttons_reviews__svg1 is-hidden" width="44px" height="44px">
        <use xlink:href="images/sprite.svg#icon-home-customers_reviews"></use>
      </svg>
    </div>
    <div class="btn2">
      <svg class="buttons_reviews__svg2 is-hidden" width="44px" height="44px">
        <use xlink:href="images/sprite.svg#icon-home-customers_reviews"></use>
      </svg>
    </div>
  </div>
</section>
