<section class="customer_reviews">
  <div class="siema">
    <div><img class="customer_reviews__images" src="images/customer_reviews/dog1.jpg" alt=" Hi, I'm slide 1" height="100px" /></div>
    <div><img class="customer_reviews__images" src="images/customer_reviews/dog2.jpg" alt=" Hi, I'm slide 2" height="100px" /></div>
    <div><img class="customer_reviews__images" src="images/customer_reviews/dog3.jpg" alt=" Hi, I'm slide 3" height="100px" /></div>
  </div>

  <button class="prev">prev</button>
  <button class="next">next</button>

</section>
