<footer class="footer">
    <div class="footer__container">
        <h3 class="footer__title">
            homemade ice cream made
        </h3>
        <h2 class="footer__title2">
            with passion
        </h2>
        <div class="footer-social">
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="insta"><img class="footer-social__icon"
                            src="" width="20" height="20" />
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="insta"><img class="footer-social__icon"
                            src="" width="20" height="20" />
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="insta"><img class="footer-social__icon"
                            src="" width="20" height="20" />
                    </a>
                </li>
            </ul>
            <a class="footer-social__text" href="phone:+48111111111">Feel free to contact <span
                    class="footer-social__text__span"> +61 (0) 383 766 284</span></a>
        </div>
    </div>
    <div class="footer-copyright">
        <h3 class="footer-copyright__item">© 2019 - IceCream. All Rights Reserved.</h3>
    </div>
</footer>