<header class="header" id="hero-header">
  <nav class="navigation">
    <div class="navigation__container">
      <div class="navigation__circle"></div>
      <picture class="navigation__bg-image">
        <source
          srcset="
            \images\hero_header\ice-cream-header-desktop.png    1x,
            \images\hero_header\ice-cream-header-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            \images\hero_header\ice-cream-header-tablet.png    1x,
            \images\hero_header\ice-cream-header-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            \images\hero_header\ice-cream-header-mobile.png    1x,
            \images\hero_header\ice-cream-header-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="\images\hero_header\ice-cream-header-desktop.png"
          srcset="\images\hero_header\ice-cream-header-desktop@2x.png 2x"
          alt="background image ice creams"
        />
      </picture>
      <div class="navigation__top-bar">
        <a href="index.html" class="logo">
          <img
            class="logo__image"
            src="\images\hero_header\logo-header.png"
            srcset="\images\hero_header\logo-header@2x.png 2x"
            alt="logo strony"
          />
        </a>
        <ul class="navigation__list">
          <li class="navigation__list-items">
            <a class="navigation__list-link" href="#hero-header">Home</a>
          </li>
          <li class="navigation__list-items">
            <a class="navigation__list-link" href="#about">About us</a>
          </li>
          <li class="navigation__list-items">
            <a class="navigation__list-link" href="#how-its-made">How it's made?</a>
          </li>
          <li class="navigation__list-items">
            <a class="navigation__list-link" href="#products">Our products</a>
          </li>
          <li class="navigation__list-items navigation__list-items--no-marginr">
            <a class="navigation__list-link" href="#contact">Contact</a>
          </li>
        </ul>
        <svg class="modal-menu-open" data-mobile-menu-open>
          <use href="\images\sprite.svg#icon-burger"></use>
        </svg>
        <button
          class="
            navigation__button-buy
            navigation__button-buy--margin-left
            navigation__button-buy--hidden
          "
        >
          Buy now
          <svg class="navigation__button-buy-icon">
            <use href="/images/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="navigation__middle-bar1">
        <h1 class="navigation__banner">
          ice cream made with <span class="navigation__banner-second">passion</span>
        </h1>
        <div class="navigation__statistics">
          <div class="navigation__statistic-data">
            <h2 class="navigation__statistic-number">16</h2>
            <p class="navigation__statistic-text">cafes</p>
            <div class="navigation__statistic-circle"></div>
          </div>
          <div class="navigation__statistic-data navigation__statistic-data--margin-top">
            <h2 class="navigation__statistic-number">23</h2>
            <p class="navigation__statistic-text">food trucks</p>
            <div class="navigation__statistic-circle navigation__statistic-circle--position"></div>
          </div>
        </div>
      </div>
      <div class="navigation__middle-bar2">
        <button class="navigation__button navigation__button--bg-color">
          <a
            href="#products"
            class="navigation__button-link navigation__button-link--color no-decoration"
            >Products</a
          >
        </button>
        <button class="navigation__button">
          <a href="#about" class="navigation__button-link no-decoration">How it's made?</a>
        </button>
      </div>
      <div class="navigation__bottom-bar">
        <p class="navigation__bottom-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="navigation__bottom-circle"></div>
        <svg class="navigation__bottom-arrow">
          <use href="\images\sprite.svg#icon-arrow-right"></use>
        </svg>
        <picture class="navigation__milk-image">
          <source
            srcset="
              \images\hero_header\header-milk-desktop.png    1x,
              \images\hero_header\header-milk-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              \images\hero_header\header-milk-tablet.png    1x,
              \images\hero_header\header-milk-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="\images\hero_header\header-milk-desktop.png"
            srcset="\images\hero_header\header-milk-desktop@2x.png 2x"
            alt="jug with milk"
          />
        </picture>
        <picture class="navigation__woman-image">
          <source
            srcset="
              \images\hero_header\header-woman-desktop.png    1x,
              \images\hero_header\header-woman-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              \images\hero_header\header-woman-tablet.png    1x,
              \images\hero_header\header-woman-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="\images\hero_header\header-woman-desktop.png"
            srcset="\images\hero_header\header-woman-desktop@2x.png 2x"
            alt="woman eating ice cream"
          />
        </picture>
      </div>
    </div>
  </nav>
</header>
