<div>
  <div class="backdrop is-hidden" data-mobile-menu>
    <div class="modal-menu">
      <svg class="modal-menu__icon">
        <use href="/images/sprite.svg#icon-close" data-mobile-menu-close></use>
      </svg>
      <button class="navigation__button-buy">
        Buy now
        <svg class="icon-btn">
          <use href="/images/sprite.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <nav class="navigation-modal">
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#home">Home</a>
        </div>
        <a class="navigation-modal__item" href="#about-us">About us</a>
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#how-its-made">How it's made?</a>
        </div>
        <a class="navigation-modal__item" href="#our-products">Our products</a>
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#contact">Contact</a>
        </div>
      </nav>
    </div>
  </div>
</div>
<script src="/..mobile-menu.js"></script>
