<div>
  <div class="backdrop is-hidden" data-mobile-menu>
    <div class="modal-menu">
      <svg class="modal-menu__icon" data-mobile-menu-close>
        <use href="/images/sprite.svg#icon-close"></use>
      </svg>
      <button class="navigation__button-buy navigation__button-buy--modal-size">
        Buy now
        <svg class="navigation__button-buy-icon">
          <use href="/images/sprite.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <nav class="navigation-modal">
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#hero-header" data-mobile-menu-close>Home</a>
        </div>
        <a class="navigation-modal__item" href="#about" data-mobile-menu-close>About us</a>
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#how-its-made" data-mobile-menu-close
            >How it's made?</a
          >
        </div>
        <a class="navigation-modal__item" href="#products" data-mobile-menu-close>Our products</a>
        <div class="navigation-modal__border">
          <a class="navigation-modal__item" href="#contact" data-mobile-menu-close>Contact</a>
        </div>
      </nav>
    </div>
  </div>
</div>
