<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.7.0/modern-normalize.min.css" />
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">  
    
</head>

<body>
    <section class="products section section-products">
        <div class="container container-products">
          <p class="products__label" id="products">100% NATURAL</p>
          <h3 class="products__title">PRODUCTS</h3>
          <ul class="products__list list">
            <li class="products__item">
              <h3 class="products__secondary-title">ICE CREAM</h3>
              <p class="products__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
              </p>
              <button class="products__btn" type="button"></button>
            </li>
            <li class="products__item">
              <h3 class="products__secondary-title">ICE COFFEE</h3>
              <p class="products__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
              </p>
              <button class="products__btn" type="button"></button>
            </li>
            <li class="products__item">
              <h3 class="products__secondary-title">MILK SHAKES</h3>
              <p class="products__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
              </p>
              <button class="products__btn" type="button"></button>
            </li>
          </ul>
        </div>
      </section>
</body>