.footer-copyright {
    display: flex;
    justify-content: center;

    &__item
    {
        margin: 0;
        margin-top: 65px;
        padding-bottom: 25px;
        width: 150px;
        font-family: $font-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 152%;
        text-align: center;


        color: $text-secondary;
    }

}

@media screen and (min-width: 768px) and (max-width:1199px){
    .footer-copyright {
        display: flex;
        justify-content: center;
        position: relative;

        &__item
        {
            margin: 0;
            min-width: 276px;
            margin-top: 120px;
            padding-bottom: 18px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 152%;
            text-align: center;
            color: $text-secondary;

                &::after {
                margin: 0;
                content: ' ';
                position: absolute;
                border: 1px solid #e1e1e1;
                min-width: 100%;
                height: 0;
                left: 0;
                top: 91px;
             }
        }
    }
}

@media screen and (min-width:1200px){
    .footer-copyright {
        display: flex;
        justify-content: center;
        position: relative;

        &__item
        {
            margin: 0;
            min-width: 276px;
            margin-top: 106px;
            padding-bottom: 10px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 152%;
            text-align: center;
            color: $text-secondary;

                &::after {
                margin: 0;
                content: ' ';
                position: absolute;
                border: 1px solid #e1e1e1;
                min-width: 100%;
                height: 0;
                left: 0;
                top: 91px;
             }
        }
    }
}