.footer-social
{
    &__list
    {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-right: 20.5px;
        justify-content: flex-end;  
    }
    &__item
    {
        margin: 0;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: #FEA5BB;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: $color-highlight;
        }
        &:not(:last-child) {
          margin-right: 28px;
      }
    }

    &__text {
        position: relative;
        display: flex;
        text-decoration: none;
        color: #000000;
        font-family: $font-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 186%;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 46px 20px 0 auto;

        &__span {
            color: $color-highlight;
        }
    }
    &__icon {
        margin-top: 4px;
        width: 32px;
        height: 32px;
    }

}

@media screen and (min-width: 768px) and (max-width:1199px){
    .footer-social {
        padding-right:36px;
        margin-top: 158px;
        margin-left: auto;

        &__text {
            font-size: 14px;
            &::after
            {
                border: 0px;
            }
        }
        &__icon {
            width: 34px;
            height: 34px;
        }
    }
}

@media screen and (min-width:1200px){
    .footer-social {
        padding-right:121px;
        margin-top: 165px;
        margin-left: auto;

        &__text {
            font-size: 16px;
            &::after
            {
                border: 0px;
            }
        }
        &__icon {
            width: 34px;
            height: 34px;
        }
    }
}